@use 'base' as *;

.header__banner__brand {
  @include positioning(15%);
  @include textAlign();
  font-size: 85px;
}

.large__button {
  height: 55px;
  width: 230px;
  font-size: 16px;
  color: $tertiary-color;
  background-color: $secundary-color;
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $tertiary-color;
    color: $secundary-color;
  }
}

.selection__button {
  border: none;
  background: none;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size;
  margin: 15px 35px;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $tertiary-color;
  }

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: $tertiary-color;
    transition: all 0.2s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}

.active-btn {
  color: $tertiary-color;

  &:after {
    width: 100%;
  }
}

.shop__item__info_button {
  margin: 20px;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  color: $primary-color;
  text-decoration: none;
  border: 2px solid $tertiary-color;

  &:hover {
    background-color: $tertiary-color;
    color: $secundary-color;
  }
}