@use 'base' as *;

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: $margin-nav 0;

  &__logo {
    width: $icon-width;
    position: absolute;
    left: $margin-nav-icon;
  }

  &__list, &__symbols {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: $font-size;
    flex-wrap: wrap;
  }

  &__list {
    width: 400px;
  }

  &__list-item {
    margin: 0 $margin-nav-list;

    &__anchor {
      text-decoration: none;
      color: $secundary-color;
    }
  }

  &__symbols {
    position: absolute;
    right: $margin-nav-icon;
    width: 150px;

    #nav__icon-3 {
      //display: none;
    }
  }

  &__symbols-item {
    &__icon {
      width: $icon-width;
    }
  }
}

.header {
  position: relative;
  width: 100%;
  height: 87vh;

  &__banner {
    &__buttons {
      @include positioning(70%);
    }
  }
}

.shop {
  width: 100%;
  z-index: 0;
  @include textAlign();

  &__heading {
    background-color: $tertiary-color;

    &__title {
      padding-top: 80px;
      font-size: 80px;
      letter-spacing: 2px;
    }

    &__paragraph {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: $font-size;
    }
  }

  &__filters {
    background-color: $secundary-color;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__item {
    width: 400px;
    height: 457px;
    margin: 50px 25px 0 25px;
    background-color: $secundary-color;
    border-radius: 25px;
    position: relative;

    &__img {
      margin-top: 20px;
      object-fit: cover;
      height: 300px;
    }

    &__info {
      color: $primary-color;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: right;
    }

    .shop__name-price {
      display: flex;
      font-size: $font-size;
      margin: 10px 20px 0 20px;
      justify-content: space-between;
    }
  }
}

.login {
  width: 100%;
  @include textAlign();

  &__heading {
    background-color: $tertiary-color;

    &__title {
      padding-top: 65px;
      font-size: 80px;
      letter-spacing: 2px;
    }

    &__paragraph {
      padding-top: 35px;
      padding-bottom: 65px;
    }
  }

  &__create-account {
    background-color: $secundary-color;
    text-decoration: underline;
    color: $primary-color;
    padding: 19px 35px;
  }

  form {
    border: 3px solid #f1f1f1;
  }

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #submit__button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #submit__button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  @include positioning(95%);
}